body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    padding-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p, td, li {
    font-size: 16px;
}

li {
    line-height: 22px;
}

thead {
    font-size: 20px;
}

form {
    margin-top: 30px;
}

.container {
    width: 800px;
}

.footer {
    text-align: center;
}

.medium {
    font-size: 14px;
}

p.octocat {
    text-align: center;
}

p.octocat img {
    margin: 40px auto;
}
