{% extends "base.html" %}

{% block content %}
<h1>{{ user }} Contributions</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Project</th>
            <th>Commits</th>
        </tr>
    </thead>
    <tbody>
        {% for contrib in contributions %}
            <tr>
                <td><a href="{{ contrib.url }}">{{ contrib.short_url }}</a></td>
                <td><a href="{{ contrib.commits_url }}">{{ contrib.commit_cnt }}</a></td>
            </tr>
        {% else %}
            <p>
                No contributions found.  Maybe {{ user }} should step out of
                their comfort zone?
            </p>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
