{% extends "base.html" %}

{% block content %}
    <div class="hero-unit">
        <h1>Not My Idea</h1>
        <p>
            Is a developer a self-starter, team-player, or the best of both
            worlds?
        </p>
    </div>

    <p>
        A developer's github profile can tell you a lot about the things their
        interested in and what their capable of.  However, another good bit of
        information to know about a developer is how willing they are to
        contribute to projects/ideas that are not their own.
    </p>

    <form class="form-horizontal" method="GET" action="/lookup" id="lookup">
        <fieldset>
            <input id="github_user" name="github_user" type="text" placeholder="Github Username">
            <button type="submit" class="btn">Go</button>
        </fieldset>
    </form>
{% endblock %}
